a:link {
  color: #A2678A;
}

@font-face {
	font-family: 'ZillaSlab';
	src: url('./fonts/zilla/woff/ZillaSlab-Regular.woff') format('woff');
	font-style: normal;
}

@font-face {
	font-family: 'ZillaSlab';
	src: url('./fonts/zilla/woff/ZillaSlab-RegularItalic.woff') format('woff');
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'ZillaSlab';
	src: url('./fonts/zilla/woff/ZillaSlab-Bold.woff') format('woff');
	font-style: bold;
	font-weight: 700;
}

* {
	margin: 0;
	box-sizing: border-box;
}

pre {
	background: #f4f4f4;
	border: 1px solid #ddd;
	/*border-left: 3px solid #f36d33;*/
	color: #666;
	page-break-inside: avoid;
	font-family: monospace;
	font-size: 14px;
	line-height: 1.0;
	margin-bottom: 1.0em;
	/*max-width: 100%;*/
	overflow: auto;
	padding: 1em 1em;
	/*display: block;*/
	word-wrap: break-word;
	min-width: 0
}

.photo-grid {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.master-container {
	display: flex;
	width: 70%;
	border: 0px;
	border-spacing: 0px;
	border-collapse: separate;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
}

.log-content-container {
	font-family: 'ZillaSlab';
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: column;
}

.blog-body {
	font-family: 'ZillaSlab';
	padding: 10px 10px 0px 0px;
	display: flex;
	flex-direction: column;
}

hr {
	border: 0;
	clear: both;
	display: block;
	width: 100%;
	background-color: black;
	height: 1px;
}

.header-container {
	color: #fff;
	/* background-color: white; */
	/* Blue */
	padding: 10px 20px 10px 20px;
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.header-logo {
	/* border: 1px solid white; */
	/* For debugging */
	width: 300px;
	display: flex;
	align-items: flex-end;
}

.header-menu {
	font-family: 'ZillaSlab';
	font-size: 11pt;
	font-weight: bold;
	width: 300px;
	color: black;
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.content-container {
	padding: 20px 20px 20px 20px;
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.content-description-content {
	font-family: 'ZillaSlab';
	font-size: 12pt;
	width: 400px;
	padding: 0px 10px 10px 10px;
	font-style: normal;
	/* color: black; */
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-description-image {
	width: 600px;
	padding: 0px 0px 0px 0px;
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-container {
	font-family: 'ZillaSlab';
	font-size: 13pt;
	padding: 0px 0px 10px 0px;
	display: flex;
	justify-content: center;
}

.footer-container {
	font-family: 'ZillaSlab';
	font-size: 14pt;
	padding: 10px 20px 10px 10px;
	/* border: 1px solid white; */
	/* For debugging */
	display: flex;
	justify-content: flex-end;
	align-items: right;
	text-align: right;
}

.research-container {
	font-family: 'ZillaSlab';
	font-size: 10pt;
	padding: 10px 10px 10px 10px;
	font-style: normal;
	/* For debugging */
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.publication {
	padding: 10px 10px 10px 10px;
	flex-wrap: wrap;
	display: flex;
}

.publication-image {
	padding: 10px 10px 10px 10px;
	display: flex;
	width: 30%;
	justify-content: center;
}

.publication-description {
	padding: 10px 10px 10px 10px;
	width: 70%;
	display: flex;
	flex-direction: column;
}

@media only screen and (max-width: 1400px) {
	.master-container {
		display: flex;
		width: 95%;
		border: 0px;
		border-spacing: 0px;
		border-collapse: separate;
		margin-right: auto;
		margin-left: auto;
		flex-direction: column;
	}

	.log-content-container {
		font-family: 'ZillaSlab';
		width: 95%;
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	.blog-body {
		font-family: 'ZillaSlab';
		padding: 10px 10px 0px 0px;
		display: flex;
		flex-direction: column;
	}

	.header-container {
		color: #fff;
		/* Blue */
		padding: 10px 20px 10px 20px;
		/* For debugging */
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.header-logo {
		/* For debugging */
		width: 300px;
		display: flex;
		align-items: flex-end;
	}
	.header-menu {
		font-family: 'ZillaSlab';
		font-size: 11pt;
		font-weight: bold;
		width: 300px;
		/* For debugging */
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.content-container {
		padding: 20px 20px 20px 20px;
		/* For debugging */
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.content-description {
		flex-direction: column;
		padding: 0px 20px 20px 20px;
		/* For debugging */
		display: flex;
		align-items: center;
	}
	.contact-container {
		font-family: 'ZillaSlab';
		font-size: 13pt;
		padding: 0px 0px 10px 0px;
		display: flex;
		justify-content: center;
	}
	.content-description-content {
		font-family: 'ZillaSlab';
		font-size: 11pt;
		width: 400px;
		padding: 10px 10px 10px 10px;
		font-style: normal;
		/* For debugging */
		display: flex;
		justify-content: center;
	}
	.content-description-image {
		width: 300px;
		padding: 0px 0px 0px 0px;
		/* For debugging */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content-description-image {
		width: 300px;
		padding: 0px 0px 0px 0px;
		/* For debugging */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content-image {
		/* For debugging */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-container {
		font-family: 'ZillaSlab';
		font-size: 14pt;
		padding: 10px 20px 10px 10px;
		/* For debugging */
		display: flex;
		justify-content: flex-end;
		align-items: right;
		text-align: right;
	}
	.research-container {
		font-family: 'ZillaSlab';
		font-size: 10pt;
		padding: 10px 10px 10px 10px;
		font-style: normal;
		/* For debugging */
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.publication {
		padding: 10px 10px 10px 10px;
		flex-wrap: wrap;
		display: flex;
	}
	.publication-image {
		padding: 10px 10px 10px 10px;
		display: flex;
		width: 30%;
		justify-content: center;
	}
	.publication-description {
		padding: 10px 10px 10px 10px;
		width: 70%;
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 895px) {
	.master-container {
		display: flex;
		width: 95%;
		border: 0px;
		border-spacing: 0px;
		border-collapse: separate;
		margin-right: auto;
		margin-left: auto;
		flex-direction: column;
	}

	.log-content-container {
		font-family: 'ZillaSlab';
		width: 95%;
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	.blog-body {
		font-family: 'ZillaSlab';
		padding: 10px 10px 0px 0px;
		display: flex;
		flex-direction: column;
	}

	.header-container { 
		color: #fff;
		/* Blue */
		padding: 10px 20px 10px 20px;
		/* For debugging */
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.content-container {
		padding: 20px 20px 20px 20px;
		/* For debugging */
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.content-description {
		flex-direction: column;
		padding: 0px 20px 0px 20px;
		/* For debugging */
		display: flex;
		align-items: center;
	}
	.research-container {
		font-family: 'ZillaSlab';
		font-size: 10pt;
		padding: 10px 10px 10px 10px;
		font-style: normal;
		/* For debugging */
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.publication {
		padding: 10px 10px 10px 10px;
		flex-wrap: wrap;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.publication-image {
		padding: 10px 10px 10px 10px;
		display: flex;
		width: 280pt;
		justify-content: center;
	}
	.publication-description {
		padding: 10px 10px 10px 10px;
		width: 90%;
		display: flex;
		flex-direction: column;
	}
	.log-content-container {
		font-family: 'ZillaSlab';
		width: 95%;
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	.blog-body {
		font-family: 'ZillaSlab';
		padding: 10px 10px 0px 0px;
		display: flex;
		flex-direction: column;
	}
}


@media only screen and (max-width: 420px) {
	.master-container {
		display: flex;
		width: 95%;
		border: 0px;
		border-spacing: 0px;
		border-collapse: separate;
		margin-right: auto;
		margin-left: auto;
		flex-direction: column;
		align-items: center;
	}
	.log-content-container {
		font-family: 'ZillaSlab';
		width: 95%;
		padding: 10px 10px 10px 10px;
		display: flex;
		flex-direction: column;
	}

	.blog-body {
		font-family: 'ZillaSlab';
		padding: 10px 10px 0px 0px;
		display: flex;
		flex-direction: column;
	}

	.header-container {
		color: #fff;
		/* Blue */
		padding: 10px 20px 10px 20px;
		/* For debugging */
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.header-logo {
		/* For debugging */
		width: 300px;
		display: flex;
		align-items: flex-end;
	}
	.header-menu {
		font-family: 'ZillaSlab';
		font-size: 11pt;
		font-weight: bold;
		width: 300px;
		/* For debugging */
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.content-container {
		padding: 20px 20px 20px 20px;
		/* For debugging */
		display: flex;
		width: 300pt;
		flex-direction: column;
		align-items: center;
	}
	.content-description {
		flex-direction: column;
		padding: 0px 20px 20px 20px;
		/* For debugging */
		width: 200pt;
		display: flex;
		align-items: center;
	}
	.contact-container {
		font-family: 'ZillaSlab';
		font-size: 13pt;
		padding: 0px 0px 10px 0px;
		display: flex;
		justify-content: center;
	}
	.content-description-content {
		font-family: 'ZillaSlab';
		font-size: 11pt;
		width: 250px;
		padding: 10px 10px 10px 10px;
		font-style: normal;
		/* For debugging */
		display: flex;
		justify-content: center;
	}
	.content-description-image {
		width: 300px;
		padding: 0px 0px 0px 0px;
		/* For debugging */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.content-image {
		width: 320px;
		/* For debugging */
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-container {
		font-family: 'ZillaSlab';
		font-size: 14pt;
		padding: 10px 20px 10px 10px;
		/* For debugging */
		display: flex;
		justify-content: flex-end;
		align-items: right;
		text-align: right;
	}
	.research-container {
		font-family: 'ZillaSlab';
		font-size: 10pt;
		padding: 10px 10px 10px 10px;
		font-style: normal;
		/* For debugging */
		width: 300pt;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.publication {
		padding: 10px 10px 10px 10px;
		flex-wrap: wrap;
		display: flex;
	}
	.publication-image {
		padding: 10px 10px 10px 10px;
		display: flex;
		width: 280pt;
		justify-content: center;
	}
	.publication-description {
		padding: 10px 10px 10px 10px;
		width: 280pt;
		display: flex;
		flex-direction: column;
	}
}
